body {
  background-color: #1b1b1b;
}
.container {
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 60vh !important;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1699px) {
  .container {
    flex-direction: column;
  }
  .flower {
    margin: 80px !important;
  }
}

.flower {
  height: 200px;
  width: 200px;
  margin: 0px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: #1b1b1b; /* Fondo negro para toda la página */

  /* Agrega una animación de pulsación */
  animation: pulsate 2s infinite;
}

.text-above {
  width: 99%;
  text-align: center;
  color: #fff; /* Color del texto */
  font-size: 45px; /* Tamaño del texto */
}

.text-below {
  width: 99%;

  text-align: center;
  color: #fff; /* Color del texto */
  font-size: 45px; /* Tamaño del texto */
}

@keyframes pulsate {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.5);
  }
}
.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: radial-gradient(circle, #1b1b1b, #ff5e00, #1b1b1b);

  z-index: 4;

  background-size: 5px 5px;

  filter: drop-shadow(0 0 8px #682600);
}

.Petal1 {
  position: absolute;
  left: 40px;
  z-index: 3;

  width: 120px;
  height: 30px;
  border-radius: 50%;

  background: radial-gradient(circle, #ff5e00, #ffbb00);

  filter: drop-shadow(0 0 5px #e05200);
}

.Petal1.p1 {
  transform: rotate(22.5deg);
}
.Petal1.p2 {
  transform: rotate(67.5deg);
}
.Petal1.p3 {
  transform: rotate(110.5deg);
}
.Petal1.p4 {
  transform: rotate(157.5deg);
}

.Petal2 {
  position: absolute;
  left: 0;
  z-index: 2;

  width: 200px;
  height: 40px;
  border-radius: 50%;

  background: radial-gradient(circle, #ff5e00, #fbd702);

  filter: drop-shadow(0 0 5px #e05200);
}

.Petal2.p1 {
}

.Petal2.p2 {
  transform: rotate(90deg);
}
.Petal2.p3 {
  transform: rotate(45deg);
}

.Petal2.p4 {
  transform: rotate(135deg);
}

.Petal3 {
  position: absolute;
  left: 0px;
  z-index: 1;

  width: 200px;
  height: 40px;
  border-radius: 50%;

  background: radial-gradient(circle, #ff5e00, #fbd702);

  filter: drop-shadow(0 0 2px #fbd702);
}

.Petal3.p1 {
  transform: rotate(22.5deg);
}
.Petal3.p2 {
  transform: rotate(67.5deg);
}
.Petal3.p3 {
  transform: rotate(110.5deg);
}
.Petal3.p4 {
  transform: rotate(157.5deg);
}

.tooltip {
  display: none;
  position: absolute;
  top: -30px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 8px 10px; /* Adjusted padding */
  border-radius: 5px;
  font-size: 12px;
  z-index: 10; /* To ensure it appears above other elements */
  width: 200px;
  /* white-space: nowrap; Removed this line */
}

.flower:hover .tooltip {
  display: block;
}
